@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

image-js {
    display: block;
    margin: 10px;
}

image-js, studio {
    /* desabilitando selecao */
    -webkit-touch-callout:none; 
    -webkit-user-select:none; 
    -khtml-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;

    /* desabilitando arrastar */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

studio {
    z-index: 100000;
    background-color: #333;
    overflow: auto;

    /*full screen*/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/**
 * Elementos que serão totalmente
 * centralizados em função dos seus recipientes.
 */
studio info,
studio info text,
studio tools,
studio container,
studio selector {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/**
 * Elementos que devem se comportar como colunas.
 */
studio tools-primary,
studio tools-secondary,
studio editing {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

/**
 * Elementos que devem iniciar ocultos.
 */
image-js edition input,
studio,
studio editing img,
studio tools-primary tools,
studio canvas,
studio selector,
studio tools-secondary tools,
studio tools-primary info,
studio [name="editing"] {
    display: none;
}

studio info {
    font-family: "Arial" !important;
    font-size: 12px;
    color: grey;
}

studio tools-primary info {
    height: 100%;
    width: 100%;
    background-color: white;
    font-weight: bold;
    color: #333;
}

studio a:link,
studio a:visited {
    color: white;
    text-decoration: none;
}

studio tools-primary {
    width: 100% !important;
    height: 8% !important;
    background-color: white;
    color: #333;
}

studio tools-secondary {
    width: 100% !important;
    height: calc(8% - 1px) !important;
    color: #f9f9f9;
    border-bottom: 1px dashed #666;
}

studio editing {
    width: 100% !important;
    height: 84%!important;
}

studio container {
    width: 90%;
    height: 90%;
}

studio editing .material-icons {
    font-size: 900%;
}

studio canvas {
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

studio editing img {
    object-fit: cover !important;
    max-width: 90% !important;
    max-height: 90% !important;
}

studio tools {
    white-space: nowrap !important;
}

studio tool {
    display: inline-block;
    cursor: pointer;
    padding: 7px 10px;
}

studio tools-primary tool:hover {
    background-color: #eee;
}

studio tools-primary tool.active {
    background-color: #eee;
}

studio tools-secondary tool:hover {
    background-color: #222;
}

studio tool[name=filters] {
    margin: 0 10px;
}

studio selector {
    width: 50%;
    height: 50%;
    opacity: 0.5;
    cursor: move;
    background-color: black;
}

image-js edition {
    position: relative;
    height: 60px;
    padding: 4px;
    margin: 5px;
    display: inline-block;
    background-color: #eee;
}

image-js edition[name=new] {
    background: none;
    margin-left: 10px;
    border-left: 1px solid #eee;
    padding: 15px;
    cursor: pointer;
}

studio info input {
    padding: 6px 15px;
    border-top: 1px solid;
    width: 280px !important;
}

image-js editions {
    white-space: nowrap;
}

image-js editions img {
    height: 100%;
}


studio info .material-icons {
    color: grey;
}

.imagejs-color-blue {
    color: #1e88e5;
}

.imagejs-color-orange {
    color: #f57c00;
}

.imagejs-color-green {
    color: #66bb6a;
}

.imagejs-color-purple {
    color: #ba68c8;
}
.imagejs-color-grey {
    color: #bdbdbd;
}

.imagejs-color-red {
    color: #ef5350;
}

.imagejs-bg-blue {
    background-color: #1e88e5;
    color: white;
}

.imagejs-bg-green {
    background-color: #41920f;
    color: white;
}