/* plugins */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/** 
 * structure
 */
image-js {
    display: block;
    margin: 10px;
}

image-js, studio {
    /* disable selection */
    -webkit-touch-callout:none; 
    -webkit-user-select:none; 
    -khtml-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;

    /* disable drag */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

studio {
    z-index: 100000;
    background-color: #333;
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
}

/* center elements */
studio info,
studio info text,
studio tools,
studio container {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* hidden elements */
image-js edition input,
/*studio,*/
studio editing img,
studio tools-primary tools,
studio canvas,
studio tools-secondary tools,
studio tools-primary info,
studio translucent,
studio [name="editing"] {
    display: none;
}


/*full height elements*/
image-js editions img,
studio,
studio tools-primary info,
studio tools-primary,
studio tools-secondary,
studio canvas,
studio editing
{
    height: 100% !important;
}


/*full width elements*/
studio,
studio canvas,
studio tools-primary info,
studio editing,
studio tools-primary,
studio tools-secondary {
    width: 100% !important;
}

studio tools-primary,
studio tools-secondary,
studio editing {
    position: relative;
    float: left;
    width: 50%;
}

studio container {
    width: 90%;
    height: 90%;
    overflow: hidden !important;
    display: block;
}

studio editing {
    height: 84% !important;
}

studio editing .material-icons {
    font-size: 900%;
}

studio editing img {
    object-fit: cover !important;
    max-width: 90% !important;
    max-height: 90% !important;
}
/* end structure */

/** 
 * tools and messages 
 */
studio info {
    font-family: "Arial" !important;
    font-size: 12px;
    color: grey;
}

/* background white elements */
studio tools-primary info,
studio tools-primary {
    background-color: white;
}

studio tools-primary info {
    font-weight: bold;
    color: #333;
}

studio tools-primary {
    height: 8% !important;
    color: #333;
}

studio tools-secondary {
    height: calc(8% - 1px) !important;
    color: #f9f9f9;
    border-bottom: 1px dashed #666;
}

studio tools {
    white-space: nowrap !important;
}

studio tool {
    display: inline-block;
    cursor: pointer;
    padding: 7px 10px;
}

studio tools-primary tool:hover {
    background-color: #eee;
}

studio tools-primary tool.active {
    background-color: #eee;
}

studio tools-secondary tool:hover {
    background-color: #222;
}

studio tool[name=filters] {
    margin: 0 10px;
}

/** 
 * basic styles 
 */
studio a:link,
studio a:visited {
    color: white;
    text-decoration: none;
}

image-js edition {
    position: relative;
    height: 60px;
    padding: 4px;
    margin: 5px;
    display: inline-block;
    background-color: #eee;
}

image-js edition[name=new] {
    background: none;
    margin-left: 10px;
    border-left: 1px solid #eee;
    padding: 15px;
    cursor: pointer;
}

image-js editions {
    white-space: nowrap;
}

studio info input {
    padding: 6px 15px;
    border-top: 1px solid;
    width: 280px !important;
}

/**
 * plugin translucent draggable and resizable
 */

studio translucent {
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    padding: 10px;
    cursor: move;
    position: absolute;
    
    border: 1px dashed #000;
    box-shadow: 0 0 0 3000px rgba(0,0,0,0.7);
}

studio translucent square {
    padding: 4px;
    position: absolute;
    bottom: -2px;
    right: -2px;
    cursor: nw-resize;
    
    background-color: #ffffff;
    border: 2px solid #000;
}

/*end plugin translucent*/


/** 
 * colors
 */
studio info .material-icons {
    color: grey;
}

.imagejs-color-blue {
    color: #1e88e5;
}

.imagejs-color-orange {
    color: #f57c00;
}

.imagejs-color-green {
    color: #66bb6a;
}

.imagejs-color-purple {
    color: #ba68c8;
}
.imagejs-color-grey {
    color: #bdbdbd;
}

.imagejs-color-red {
    color: #ef5350;
}

.imagejs-bg-blue {
    background-color: #1e88e5;
    color: white;
}

.imagejs-bg-green {
    background-color: #41920f;
    color: white;
}
/* end colors */

/*fix bugs*/

studio editing canvas {
    margin-left: -1px !important;
}

studio container canvas {
    margin-left: -1px !important;
}